<div class="h-screen flex items-center justify-center">
    <form class="shadow-md rounded-md p-5 bg-white w-1/5" [formGroup]="registerForm" (ngSubmit)="register()">

        <!-- @for(error of errors; track error){
            <div class="bg-red-100 border mb-2 flex flex-col gap-2 border-red-400 text-red-400 px4 py4 rounded-md relative">
                <div class="text-xs">{{error.description}}</div>
            </div>
        } -->

        <div *ngFor="let error of errors; errors" 
            class="bg-red-100 border mb-2 flex flex-col gap-2 border-red-400 text-red-400 px4 py4 rounded-md relative">
            <div class="text-xs">{{ error.description }}</div>
        </div>

        <div class="py-4 bg-white">
            <h1 class="front-bold text-left py-2 bg-transparent">
                Register
            </h1>
            <h6 class="text-slate-600 text-base bg-transparent">
                Create your account
            </h6>
        </div>
        <mat-form-field appearance="fill" class="w-full bg-white">
            <mat-label class="bg-transparent">Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-icon matPrefix class="bg-transparent">email</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full bg-white">
            <mat-label class="bg-transparent">Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
            <mat-icon matPrefix class="bg-transparent">person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full bg-white">
            <mat-label class="bg-transparent">Password</mat-label>
            <input matInput formControlName="password" type="{{passwordHide ? 'password' : 'text'}}" placeholder="Password">
            <mat-icon matPrefix class="bg-transparent">lock</mat-icon>
            <mat-icon (click)="passwordHide = !passwordHide" matSuffix class="bg-transparent">{{passwordHide ?
                'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full bg-white">
            <mat-label class="bg-transparent">Confirm Password</mat-label>
            <input formControlName="confirmPassword" matInput type="{{confirmPasswordHide ? 'password' : 'text'}}" placeholder="Confirm Password">
            <mat-icon matPrefix class="bg-transparent">lock</mat-icon>
            <mat-icon (click)="confirmPasswordHide = !confirmPasswordHide" matSuffix class="bg-transparent">{{confirmPasswordHide ?
                 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <span 
        class="text-red-600"
                 *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.dirty && registerForm.get('confirmPassword')?.touched">
                    Passwords do not match
                 </span>

        <button 
        [disabled]="!registerForm.valid"
        class="w-full border-collapse text-white rounded-md border-slate-200 disabled:bg-purple-400 py-2 px-3 bg-purple-700" type="submit">
            Register
        </button>

        <div class="my-4 bg-white">
            <span class="text-slate-600 bg-white">
                Already have an account?
            </span>
            <a href="" class="text-purple-700 bg-white" [routerLink]="['/login']">login</a>
        </div>
    </form>
</div>